<!-- Generated template for the CloseRateComponent component -->
<ion-grid>
  <ion-row>
    <ion-col col-6 text-center>
      <div>Daily</div>
      <div>
          <circle-progress
          [percent]="85"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="1"
          [outerStrokeColor]="'#326295'"
          [innerStrokeColor]="'#424242'"
          [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div>Monthly</div>
      <div>
          <circle-progress
          [percent]="45"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="1"
          [outerStrokeColor]="'#ae1e23'"
          [innerStrokeColor]="'#424242'"
          [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

